# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
/rethinkdb_data
npm-debug.log
yarn-error.log
.expo/
npm-debug.*
rethinkdb_data

# env
.env
native-env.js
glow.apk

# certs
*.pem

*.cert
compose-scripts.md
uploads

package-lock.json